@import "_theme";

.app-home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5vw 5vh 5vw;

  button {
    position: fixed;
    top: 5%;
    left: 45vw;
    min-width: 10vw;
    font-family: dual-300;
    line-height: 1.5;

    border: white 2px solid;
    border-radius: 5px;
    background-color: $app-lightgreen;

    &:hover {
      background-color: $app-default;
      border-color: $app-lightgreen;
    }

    &:focus {
      outline: none;
    }
  }

  @media(max-width: 750px) {
    flex-direction: row;
    justify-content: center;
    .app-scorecard {
      display: none;
    }
    #toggleScorecards {
      display: none;
    }
  }

  @media(min-width: 751px) {
    .app-scorecard-dash {
      display: none;
    }
  }
}
