<main class="app-load-book">
  <div class="load-list">

    <h3>Your Loads</h3>
    <p ng-hide="loadBookCtrl.loads[0]">You have no loads to display</p>
    <section class="user-loadBooks" ng-repeat="load in loadBookCtrl.loads">

      <app-load-book-dash load-to-display="load" ng-click="loadBookCtrl.selectLoad(load)"></app-load-book-dash>

    </section>

    <h3 class="createLoad-button" ng-hide="loadBookCtrl.loadForm">Create Load &nbsp<span ng-click="loadBookCtrl.showForm()" style="cursor:pointer">+</span></h3>
    <section class="loadBook-form" ng-if="loadBookCtrl.loadForm">
      <form novalidate name="createLoadForm" ng-submit="loadBookCtrl.createLoad()">
        <div id="load-name-wrapper">
          <label for="load-name">Load Name:</label>
          <input required type="text">
        </div>
        <div class="shooting-conditions">
          <div class="input-wrapper">
            <label for="Date">Date: </label>
            <input required ng-model="loadBookCtrl.load.date" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Time">Time: </label>
            <input required ng-model="loadBookCtrl.load.time" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Temp">Temp: </label>
            <input required ng-model="loadBookCtrl.load.temp" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Humidity">Humidity: </label>
            <input required ng-model="loadBookCtrl.load.humidity" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Elevation">Elevation: </label>
            <input required ng-model="loadBookCtrl.load.elevation" type="text">
          </div>
        </div>
        <div class="load-info">
          <div class="input-wrapper">
            <label for="Caliber">Caliber: </label>
            <input required ng-model="loadBookCtrl.load.caliber" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Bullet">Bullet: </label>
            <input required ng-model="loadBookCtrl.load.bullet" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Primer">Brass: </label>
            <input required ng-model="loadBookCtrl.load.brass" type="text">
          </div>
          <div class="input-wrapper">
            <label for="Primer">Primer: </label>
            <input required ng-model="loadBookCtrl.load.primer" type="text">
          </div>
        </div>
        <div class="form-buttons">
        <button class="create-load-button" ng-disabled="createLoadForm.$invalid" type="submit">Create Load</button>
        <button class="create-load-button" ng-click="loadBookCtrl.loadForm = false">Cancel</button>
        </div>
      </form>
    </section>
  </div>
</main>
