@import "_theme";

.load-list {
  font-family: 'Dual-300';
  width: 60vw;
  margin: 10vh auto;
  text-align: center;

  .createLoad-button {
    font-size: 2em;
    margin-top: 20%;
    text-align: center;

    span{
      display: inline-block;
      font-size: 2vw;
      width: 2vw;
      height: 2vw;
      border: thin solid $app-default;

      &:hover {
        background-color: $app-default;
      }
    }
  }

  .loadBook-form {
    width: 60vw;
    font-size: 1.5em;
    margin-top: 20%;

    .cancel-form-button {
      height: 30px;
      width: 30px;
      margin-bottom: 20px;
      border: thin solid $app-default;
      border-radius: 5px;
      background-color: white;

      &:hover {
        background-color: $app-default;
      }
    }

    #load-name-wrapper {
      width: 350px;
      text-align: left;

      label {
        margin-left: 2px;
      }

      input{
        width: 225px;
        border-bottom: thin solid $app-default;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
      };
    }

    .shooting-conditions, .load-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 10px;
      border: thin solid grey;
      border-radius: 5px;

      input {
        width: 200px;
        border-bottom: thin solid $app-lightgreen;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: none;
      }

      .input-wrapper {
        margin: 10px;
      }

      .measurement {
        width: 100px;
      }
    }

    .form-buttons {
      margin-top: 10%;

      input, button {
        margin-top: 5px;
        background-color: white;
        border: thin solid $app-default;
        border-radius: 5px;

        &:hover {
          background-color: $app-lightgreen;
        }
      }
    }
  }
}
