// vendor styles
@import "vendor/normalize/_normalize.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/font-awesome/scss/font-awesome.scss";

// app styles
@import "_theme";

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
}

@keyframes appInvalid {
  0%   {background-color: white;}
  100% {background-color: $app-error}
}

.appInvalid {
  animation: 0.5s;
  animation-name: appInvalid;
}
