@import "_theme";

.app-scorecard {
  margin: 11vh auto 0 22%;
  box-shadow: 3px 3px 3px #888888;
}

.app-scorecard-get {
  border: black 2px solid;
  padding: 10px;
  min-height: 600px;
  max-width: 900px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: thin solid $app-default;

  h5 {
    margin-left: 5vw;
  }
}

.nraInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: thin solid $app-default;

  h5 {
    margin-left: 5vw;
  }
}

.competitionInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: thin solid $app-default;

  h5 {
    margin-left: 5vw;
  }
}

.rifle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid $app-lightgreen;

  h5{
    margin-left: 5vw;
  }
}

.total-score-tables {
  margin: 5% 25% 5% 25%;
}

.score-field {
  margin: 0 auto;

  .matchTable {
    margin: 0 auto;
    max-width: 771px;
    max-height: 49px;
    height: auto;
    width: auto;
  }
}

table, tr, td, th {
  border: thin solid black;
  border-collapse: collapse;
}

.shotNum {
  background-color: grey;
  color: white;
}

.scores {
  text-align: center;
  height: 2em;
}

th {
  padding: 5px;
  text-align: center;
}

.data-field {
  width: 25px;
  text-align: center;
}

.total {
  padding: 10px;
}

@media (max-width: 1300px){
  .app-scorecard {
    margin-left: 20%;
  }

  @media (max-width: 700px){
    .app-scorecard-get {
      border: none;
      min-height: 750px;
      max-height: 900px;
    }
  }

  @media (max-width: 450px) {
    .app-scorecard-get {
      border: none;
      height: auto;
      min-height: 200px;
      max-height: 85vh;
    }
  }
}
