@import "_theme";

.app-scorecard {
  margin: 11vh auto 0 auto;
  box-shadow: 3px 3px 3px #888888;
}

.app-scorecard-get {
  border: black 2px solid;
  padding: 10px;
  min-height: 600px;
  max-width: 900px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2vw;
}

.competitionInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px $app-default;
}

.rifle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.total-score-tables {
  margin: 5% 25% 5% 25%;
}

.score-field {
  margin: 0 auto;

  .matchTable {
    margin: 0 auto;
    max-width: 771px;
    max-height: 49px;
    height: auto;
    width: auto;
  }
}

table, tr, td, th {
  border: thin solid black;
  border-collapse: collapse;
}

.shotNum {
  background-color: grey;
  color: white;
}

.scores {
  text-align: center;
  height: 2em;
}

th {
  padding: 5px;
  text-align: center;
}

.sf {
  width: 25px;
  text-align: center;
}

.total {
  padding: 10px;
}

@media (max-width: 1300px){
  .app-scorecard {
    margin-left: 20%;
  }

  @media (max-width: 925px){
    .app-scorecard-get {
      min-height: 750px;
    }
  }
}
