<main class="app-scorecard-get"
  ng-init="scorecardCtrl.fetchScorecard()">
  <!-- <div class="scorecard-admin" > -->
  <div class="userInfo">
    <h3 for="firstName"><strong>First Name</strong>: {{scorecardCtrl.user.firstName}} &nbsp &nbsp</h3>
    <h3 for="lastName"><strong>Last Name</strong>: {{scorecardCtrl.user.lastName}} &nbsp &nbsp</h3>
    <h3 ng-show="scorecardCtrl.user.suffix" for="suffix"><strong>Suffix</strong>: {{scorecardCtrl.user.suffix}}</h3>
  </div>
  <div class="competitionInfo">
     <h5 for="date"><strong>Date</strong>: {{scorecardCtrl.scorecard.competition.dateOf | date}}</h5>
     <h5 for="location"><strong>Range Name</strong>: {{scorecardCtrl.scorecard.competition.location}}</h5>
     <h5 for="Distance"><strong>Distance</strong>: {{scorecardCtrl.scorecard.matches[0].distanceToTarget}}</h5>
     <h5 for="targetNumber"><strong>Target #</strong>: {{scorecardCtrl.scorecard.matches[0].targetNumber}}</h5>
     <h5 for="relay"><strong>Relay #</strong>: {{scorecardCtrl.scorecard.matches[0].relay}}</h5>
  </div>
 <div class="rifle">
   <h5 for="caliber"><strong>Caliber</strong>: {{scorecardCtrl.scorecard.competition.caliber}} </h5>
   <h5 for="action"><strong>Action</strong>: {{scorecardCtrl.scorecard.competition.action}}</h5>
 </div>

  <div class="score-field">
    <table class="matchTable">
      <caption>Match #1</caption>
      <tr class="shotNum">
        <th>Shot #:</th>
        <th class="sf">1</th>
        <th class="sf">2</th>
        <th class="sf">3</th>
        <th class="sf">4</th>
        <th class="sf">5</th>
        <th class="sf">6</th>
        <th class="sf">7</th>
        <th class="sf">8</th>
        <th class="sf">9</th>
        <th class="sf">10</th>
        <th class="sf">11</th>
        <th class="sf">12</th>
        <th class="sf">13</th>
        <th class="sf">14</th>
        <th class="sf">15</th>
        <th class="sf">16</th>
        <th class="sf">17</th>
        <th class="sf">18</th>
        <th class="sf">19</th>
        <th class="sf">20</th>
        <th>total</th>
      </tr>
      <tr class="scores">
        <th>Score:</th>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][0].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][1].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][2].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][3].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][4].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][5].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][6].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][7].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][8].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][9].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][10].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][11].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][12].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][13].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][14].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][15].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][16].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][17].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][18].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[0][19].score}}</td>
        <td>{{scorecardCtrl.match1Scores.matchScoreTotal}}</td>
      </tr>
    </table>
    <table class="matchTable">
      <caption>Match #1</caption>
      <tr class="shotNum">
        <th>Shot #:</th>
        <th class="sf">1</th>
        <th class="sf">2</th>
        <th class="sf">3</th>
        <th class="sf">4</th>
        <th class="sf">5</th>
        <th class="sf">6</th>
        <th class="sf">7</th>
        <th class="sf">8</th>
        <th class="sf">9</th>
        <th class="sf">10</th>
        <th class="sf">11</th>
        <th class="sf">12</th>
        <th class="sf">13</th>
        <th class="sf">14</th>
        <th class="sf">15</th>
        <th class="sf">16</th>
        <th class="sf">17</th>
        <th class="sf">18</th>
        <th class="sf">19</th>
        <th class="sf">20</th>
        <th>total</th>
      </tr>
      <tr class="scores">
        <th>Score:</th>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][0].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][1].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][2].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][3].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][4].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][5].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][6].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][7].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][8].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][9].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][10].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][11].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][12].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][13].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][14].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][15].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][16].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][17].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][18].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[1][19].score}}</td>
        <td>{{scorecardCtrl.match2Scores.matchScoreTotal}}</td>
      </tr>
    </table>
    <table class="matchTable">
      <caption>Match #1</caption>
      <tr class="shotNum">
        <th>Shot #:</th>
        <th class="sf">1</th>
        <th class="sf">2</th>
        <th class="sf">3</th>
        <th class="sf">4</th>
        <th class="sf">5</th>
        <th class="sf">6</th>
        <th class="sf">7</th>
        <th class="sf">8</th>
        <th class="sf">9</th>
        <th class="sf">10</th>
        <th class="sf">11</th>
        <th class="sf">12</th>
        <th class="sf">13</th>
        <th class="sf">14</th>
        <th class="sf">15</th>
        <th class="sf">16</th>
        <th class="sf">17</th>
        <th class="sf">18</th>
        <th class="sf">19</th>
        <th class="sf">20</th>
        <th>total</th>
      </tr>
      <tr class="scores">
        <th>Score:</th>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][0].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][1].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][2].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][3].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][4].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][5].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][6].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][7].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][8].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][9].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][10].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][11].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][12].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][13].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][14].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][15].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][16].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][17].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][18].score}}</td>
        <td class="sf">{{scorecardCtrl.scorecard.shots[2][19].score}}</td>
        <td>{{scorecardCtrl.match3Scores.matchScoreTotal}}</td>
      </tr>
    </table>

  </div>
    <section  class="total-score-tables">
      <div class="subtotal-score-data">
        <table>
          <tr>
            <th>Match #1 Score:</th>
            <td class="sf total">{{scorecardCtrl.match1Scores.matchScoreTotal}}</td>
            <th>X Count:</th>
            <td class="sf total">{{scorecardCtrl.match1Scores.xCount}}</td>
          </tr>
          <tr>
            <th>Match #2 Score:</th>
            <td class="sf total">{{scorecardCtrl.match2Scores.matchScoreTotal}}</td>
            <th>X Count:</th>
            <td class="sf total">{{scorecardCtrl.match2Scores.xCount}}</td>
          </tr>
          <tr>
            <th>Match #3 Score:</th>
            <td class="sf total">{{scorecardCtrl.match3Scores.matchScoreTotal}}</td>
            <th>X Count:</th>
            <td class="sf total">{{scorecardCtrl.match3Scores.xCount}}</td>
          </tr>
        </table>
      </div>
      <div class="aggregate-score-table">
        <table>
          <tr>
            <th>Match Aggregate Score:</th>
            <td class="sf total">{{scorecardCtrl.totalCompScore}}</td>
          </tr>
          <tr>
            <th>Total X count:</th>
            <td class="sf total">{{scorecardCtrl.totalXCount}}</td>
          </tr>
        </table>
      </div>
    </section>
  </table>
</main>
