.form-inline .form-control {
  width: 32px;
}

.scorecard-form-main {
  border: black 2px solid;
  margin: 10% auto;
  padding: 10px;
  min-height: 600px;
  max-width: 900px;
  box-shadow: 3px 3px 3px #888888;
}

.scorecard-form-admin {
  margin: 0px 5px 5px 0px
}

.first-shot-score {
  display: inline-block;
  background-color: #C7C7C7;
  font-weight: bold;
  width: 32px;
  height: 25px;
  margin:0px 0px 0px 58px;
  padding:0px 2px 0px 2px;
  border-width:0px 3px 0px 3px;
  border-right-style: outset
}

.shot-score {
  display: inline-block;
  background-color: #C7C7C7;
  font-weight: bold;
  width: 27px;
  height: 25px;
  padding:0px 2px 0px 2px;
  border-color: black;
  border-width:0px 3px 0px 0px;
}

.scorecard-match-outer-div {
  border: black 2px solid;
  width:875px;
  height:25px;
  margin-top:0px;
  margin-left: 0px;
}
.scorecard-match-inner-div {
  width:40px;
  margin-right:50px
}

.scorecard-match-i {
  margin-top:5px;
  position: absolute;
  padding-left:5px;
  padding-top: -20px;
  font-family:Helvetica-Bold;
  font-size:12;
  font-weight:bold
}

.scorecard-scoring-totals {
  font-size: 18px;
}

.subtotal-score-data {
  font-size: 18px;
  float: left;
  margin: 0px 75px 35px 0px;
}

.aggregate-score-data {
  font-size: 20px;
  float: left;
  margin: 20px 40px 25px 0px;

}
