<main style="border: black 2px solid; padding: 10px; max-width: 900px">
<form class="score-card-form" no validate>
  <div class="form-group scorecard-admin">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" style="margin: 0 5 5 0" required>
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" style="margin: 0 5 5 0" required>
    <label for="nameSuffix">Suffix</label>
    <input type="text" id="nameSuffix", style="margin: 0 5 5 0" placeholder="Sr, Jr, II">
  </div>
  <div class="form-group">
    <label for="NRANumber">NRA Number</label>
    <input type="text" class="form-control" id="NRANumber" style="margin: 0 5 5 0">
    <label for="NRAQualification">NRA Qualification</label>
    <input type="text" class="form-control" id="NRAQualification" style="margin: 0 5 5 0">
  </div>
  <div class="form-group">
    <label for="location">Range Name</label>
    <input type="text" class="form-control" id="location" style="margin: 0 5 5 0">
    <label for="distance">Distance</label>
    <input type="text" class="form-control" id="distance" required style="margin: 0 5 5 0">
    <label for="targetNumber">Target #</label>
    <input type="text" id="targetNumber" style="margin: 0 5 5 0">
    <label for="relay">Relay #</label>
    <input type="text" id="relay" style="margin: 0 5 5 0">
  </div>
  <br><br>
  <div class="checkbox">
    <label>
      <input type="checkbox"> NRA Sanctioned Tournament
    </label>
  </div>
  <br><br>




  <svg width="771px" height="49px" viewBox="0 -6 771 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs>
          <rect id="path-1" x="58" y="18" width="32" height="25"></rect>
          <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-1"></use>
          </mask>
          <rect id="path-3" x="0" y="18" width="61" height="25"></rect>
          <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="61" height="25" fill="white">
              <use xlink:href="#path-3"></use>
          </mask>
          <rect id="path-5" x="182" y="18" width="32" height="25"></rect>
          <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-5"></use>
          </mask>
          <rect id="path-7" x="89" y="18" width="32" height="25"></rect>
          <mask id="mask-8" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-7"></use>
          </mask>
          <rect id="path-9" x="244" y="18" width="32" height="25"></rect>
          <mask id="mask-10" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-9"></use>
          </mask>
          <rect id="path-11" x="213" y="18" width="32" height="25"></rect>
          <mask id="mask-12" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-11"></use>
          </mask>
          <rect id="path-13" x="151" y="18" width="32" height="25"></rect>
          <mask id="mask-14" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-13"></use>
          </mask>
          <rect id="path-15" x="120" y="18" width="32" height="25"></rect>
          <mask id="mask-16" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-15"></use>
          </mask>
          <rect id="path-17" x="337.5" y="18" width="32" height="25"></rect>
          <mask id="mask-18" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-17"></use>
          </mask>
          <rect id="path-19" x="275" y="18" width="32" height="25"></rect>
          <mask id="mask-20" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-19"></use>
          </mask>
          <rect id="path-21" x="400" y="18" width="32" height="25"></rect>
          <mask id="mask-22" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-21"></use>
          </mask>
          <rect id="path-23" x="462" y="18" width="32" height="25"></rect>
          <mask id="mask-24" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-23"></use>
          </mask>
          <rect id="path-25" x="431" y="18" width="32" height="25"></rect>
          <mask id="mask-26" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-25"></use>
          </mask>
          <rect id="path-27" x="524" y="18" width="32" height="25"></rect>
          <mask id="mask-28" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-27"></use>
          </mask>
          <rect id="path-29" x="586" y="18" width="32" height="25"></rect>
          <mask id="mask-30" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-29"></use>
          </mask>
          <rect id="path-31" x="493" y="18" width="32" height="25"></rect>
          <mask id="mask-32" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-31"></use>
          </mask>
          <rect id="path-33" x="555" y="18" width="32" height="25"></rect>
          <mask id="mask-34" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-33"></use>
          </mask>
          <rect id="path-35" x="679" y="18" width="92" height="25"></rect>
          <mask id="mask-36" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="92" height="25" fill="white">
              <use xlink:href="#path-35"></use>
          </mask>
          <rect id="path-37" x="648" y="18" width="32" height="25"></rect>
          <mask id="mask-38" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-37"></use>
          </mask>
          <rect id="path-39" x="617" y="18" width="32" height="25"></rect>
          <mask id="mask-40" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-39"></use>
          </mask>
          <rect id="path-41" x="306" y="18" width="32" height="25"></rect>
          <mask id="mask-42" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-41"></use>
          </mask>
          <rect id="path-43" x="369" y="18" width="32" height="25"></rect>
          <mask id="mask-44" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="25" fill="white">
              <use xlink:href="#path-43"></use>
          </mask>
      </defs>
      <text id="Match-#1" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="367" y="13" fill="#000000">Match #1</tspan>
      </text>
      <path d="M488.25,-4.5 L488.25,16.5" id="Line" stroke-opacity="0.83" stroke="#FFFFFF" stroke-width="0.5" stroke-linecap="square" fill="none"></path>
      <path d="M511.25,-4.5 L511.25,16.5" id="Line" stroke-opacity="0.83" stroke="#FFFFFF" stroke-width="0.5" stroke-linecap="square" fill="none"></path>
      <text id="20" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="492" y="10" fill="#FFFFFF">20</tspan>
      </text>
      <text id="Total" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="682" y="10" fill="#FFFFFF">Total</tspan>
      </text>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-2)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-1"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-4)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-3"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-6)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-5"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-8)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-7"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-10)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-9"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-12)" stroke-width="2" fill="#000000" fill-rule="evenodd" opacity="0.973997201" xlink:href="#path-11"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-14)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-13"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-16)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-15"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-18)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-17"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-20)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-19"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-22)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-21"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-24)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-23"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-26)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-25"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-28)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-27"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-30)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-29"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-32)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-31"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-34)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-33"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-36)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-35"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-38)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-37"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-40)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-39"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-42)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-41"></use>
      <use id="Rectangle-4" stroke="#979797" mask="url(#mask-44)" stroke-width="2" fill="#000000" fill-rule="evenodd" xlink:href="#path-43"></use>
      <text id="1" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="72" y="35" fill="#FFFFFF">1</tspan>
      </text>
      <text id="Shot" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="13" y="35" fill="#FFFFFF">Shot</tspan>
      </text>
      <text id="2" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="102" y="35" fill="#FFFFFF">2</tspan>
      </text>
      <text id="3" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="130" y="35" fill="#FFFFFF">3</tspan>
      </text>
      <text id="4" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="161" y="35" fill="#FFFFFF">4</tspan>
      </text>
      <text id="5" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="192" y="35" fill="#FFFFFF">5</tspan>
      </text>
      <text id="6" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="223" y="35" fill="#FFFFFF">6</tspan>
      </text>
      <text id="7" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="254" y="35" fill="#FFFFFF">7</tspan>
      </text>
      <text id="8" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="285" y="35" fill="#FFFFFF">8</tspan>
      </text>
      <text id="9" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="317" y="35" fill="#FFFFFF">9</tspan>
      </text>
      <text id="10" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="345" y="35" fill="#FFFFFF">10</tspan>
      </text>
      <text id="11" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="376" y="35" fill="#FFFFFF">11</tspan>
      </text>
      <text id="12" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="407" y="35" fill="#FFFFFF">12</tspan>
      </text>
      <text id="13" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="438" y="35" fill="#FFFFFF">13</tspan>
      </text>
      <text id="14" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="469" y="35" fill="#FFFFFF">14</tspan>
      </text>
      <text id="15" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="500" y="35" fill="#FFFFFF">15</tspan>
      </text>
      <text id="16" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="530" y="35" fill="#FFFFFF">16</tspan>
      </text>
      <text id="17" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="563" y="35" fill="#FFFFFF">17</tspan>
      </text>
      <text id="18" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="592" y="35" fill="#FFFFFF">18</tspan>
      </text>
      <text id="19" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="625" y="35" fill="#FFFFFF">19</tspan>
      </text>
      <text id="20" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="655" y="35" fill="#FFFFFF">20</tspan>
      </text>
      <text id="Total" stroke="none" fill="none" font-family="Helvetica-Bold, Helvetica" font-size="12" font-weight="bold">
          <tspan x="716" y="35" fill="#FFFFFF">Total</tspan>
      </text>
  </svg>




  <!--<i class="score" style="text-align:left">Score</i>-->

<form class="score-card-match-data" no validate>
  <div class="form-group" style="border: black 2px solid; width:766px; height:25px; margin-top:0px; margin-left: 0px">
    <div style="width:40px; heigth:25px; margin-right:50px">
      <i style="margin-top:5px; position: absolute; padding-left:5px; padding-top: -20px; font-family:Helvetica-Bold; font-size:12; font-weight:bold">Score</i>
    </div>
    <label for="shot1"></label>
    <input type="text" class="form-control shot-score" id="shot1" style="width: 28px; height: 25px; margin:-50 0 0 60; padding:0 2 0 2; border-width:0 3 0 3; border-right-style: outset">
    <label for="shot2"></label>
    <input type="text" class="form-control shot-score" id="shot2"  style="width: 28px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-style: outset">
    <label for="shot3"></label>
    <input type="text" class="form-control shot-score" id="shot3"  style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot4"></label>
    <input type="text" class="form-control shot-score" id="shot4"  style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot5"></label>
    <input type="text" class="form-control shot-score" id="shot5"  style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot6"></label>
    <input type="text" class="form-control" id="shot6" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot7"></label>
    <input type="text" class="form-control" id="shot7" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot8"></label>
    <input type="text" class="form-control" id="shot8" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot9"></label>
    <input type="text" class="form-control" id="shot9" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot10"></label>
    <input type="text" class="form-control" id="shot10" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot11"></label>
    <input type="text" class="form-control" id="shot11" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot12"></label>
    <input type="text" class="form-control" id="shot12" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot13"></label>
    <input type="text" class="form-control" id="shot13" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot14"></label>
    <input type="text" class="form-control" id="shot14" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot15"></label>
    <input type="text" class="form-control" id="shot15" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot16"></label>
    <input type="text" class="form-control" id="shot16" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot17"></label>
    <input type="text" class="form-control" id="shot17" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot18"></label>
    <input type="text" class="form-control" id="shot18" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot19"></label>
    <input type="text" class="form-control" id="shot19" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="shot20"></label>
    <input type="text" class="form-control" id="shot20" style="width: 27px; height: 25px;  padding:0 2 0 2; border-width:0 3 0 0; border-right-style: outset">
    <label for="subTotal"></label>
    <input type="text" class="form-control" id="subTotal" style="width: 75px; height: 25px;  padding:0 2 0 2">
  </div>


  <br><br><br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</main>
