@import "_theme";

.app-scorecard-dash {
  border-bottom: thin solid $app-lightgreen;
  border-radius: 10px;
  max-width: 35vw;
  width: auto;
  max-height: 50vh;
  min-height: 20vh;
  margin: 20vh auto 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: dual-300;

  &:hover {
    box-shadow: 5px 5px 5px $app-lightgreen;
    cursor: default;
  }

  &:active {
    border: thin solid grey;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  background-color: grey;
  color: white;
  border-radius: 10px 10px 0 0;

  h3 {
    font-size: 3vw;
    margin: 2vw;

    @media(min-width: 400px) {
      font-size: 2.5vw;
      margin: 1vw;
    }
  }
}

.compStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  h3 {
    font-size: 3vw;
    margin: 2vw;
  }
}
