@import "_theme";

.app-signup {
  width: 40vw;
  padding: 5%;
  margin: 5% auto 0 auto;
  background-color: $app-default;
  border: thick solid $app-lightgreen;
  border-radius: 10px 10px 10px 10px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  label {
    font-family: dual-300;
    font-size: 1.5em;
  }

  input {
    box-shadow: 3px 3px 3px #888888;
  }

  button{
    width: 150px;
    margin: 5% auto 0 auto;
    border: solid thin $app-dark;
  }

  .userPass {
    margin-top: 5%;

    input{
      box-shadow: 3px 3px 3px #888888;
    }
  }

  .naming {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% auto 5% auto;

    input {
      box-shadow: 3px 3px 3px #888888;
    }
  }

  .nameSuffix {
    margin: 0 3% 0 3%;

    select{
      box-shadow: 3px 3px 3px #888888;
    }
  }

  .nraNumber {
    margin: 5% auto 5% auto;
  }

  .footnote {
    align-content: center;
    margin: 5% 20% 0 20%;
  }

  .app-redirect {
    align-content: center;
    margin: 5% 15% 0 15%;
    font-size: 1.25em;

    a {
      color: $app-lightgreen;
    }

  }
}

@media (max-width: 550px){
  .app-signup{
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    border-radius: none;
  }
}
