@import "_theme";

.app-signup {
  width: 40vw;
  padding: 5%;
  margin: 5% auto 0 auto;
  background-color: $app-default;
  border: thick solid $app-lightgreen;
  border-radius: 10px 10px 10px 10px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  label {
    font-family: biko-regular;
    font-size: 1.5em;
  }

  button{
    width: 150px;
    margin: 5% auto 0 auto;
    border: solid thin $app-dark;
  }

  .userPass {
    margin-top: 5%;
  }

  .naming {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% auto 5% auto;
  }

  .nameSuffix {
    margin: 0 3% 0 3%;
  }

  .nraNumber {
    margin: 5% auto 5% auto;
  }

  .footnote {
    align-content: center;
    margin: 5% 20% 0 20%;
  }

}
