<main class="app-signup">
  <form novalidate ng-submit="signupCtrl.signup()" name="signupForm">

    <app-logo class="app-logo"></app-logo>

    <div class="userPass">
      <section class="form-group has-error">
        <label for="username"><span>*</span>Username:</label>
        <input required class="form-control" name="username"
        ng-class="{appInvalid: signupForm.$submitted && signupForm.username.$invalid}" ng-model="signupCtrl.user.username" type="text">
      </section>
      <section class="form-group has-error">
        <label for="password"><span>*</span>Password:</label>
        <input required ng-minlength="4" name="password" class="form-control" ng-class="{appInvalid: signupForm.$submitted && signupForm.password.$invalid}" ng-model="signupCtrl.user.password" type="password">
      </section>
      <section class="form-group has-error">
        <label for="email"><span>*</span>Email Address:</label>
        <input required name="email" class="form-control" ng-class="{appInvalid: signupForm.$submitted && signupForm.email.invalid}" ng-model="signupCtrl.user.emailAddress" type="email">
      </section>
    </div>

    <div class=naming>
      <section class="form-group has-error">
        <label for="firstName">*First Name:</label>
        <input required class="form-control" name="firstName" ng-class="{appInvalid: signupForm.$submitted && signupForm.firstName.$invalid}"
        ng-model="signupCtrl.user.firstName" type="text">
      </section>
      <section class="form-group has-error">
        <label for="LastName">*Last Name:</label>
        <input required class="form-control" name="lastName"
        ng-class="{appInvalid: signupForm.$submitted && signupForm.lastName.$invalid}"
        ng-model="signupCtrl.user.lastName" type="text">
      </section>
      <section class="form-group nameSuffix">
        <label for="nameSuffix">Suffix:</label>
        <select name="nameSuffix" class="form-control" ng-model="signupCtrl.user.nameSuffix">
          <option value="Sr.">Sr.</option>
          <option value="Js.">Jr.</option>
          <option value="I.">I</option>
          <option value="II.">II</option>
          <option value="III">III</option>
        </select>
      </section>
    </div>

    <section class="form-group nraNumber">
      <label for="nraNumber">NRA Number:</label>
      <input class="form-control" ng-model="signupCtrl.user.nraNumber" type="text">
    </section>
    <button ng-disabled="signupForm.$invalid" class="btn btn-primary" type="submit">Create Account</button>
    <p class="app-redirect"> Already a member? <a href="https://shooters-log-fe-staging.herokuapp.com/#/signin">Sign In!</a></p>
    <span class="footnote">* designates required fields</span>
  </form>
</main>
