@import "_theme";

.app-nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding-top: 40px;
  background-color: $app-dark;

  ul {
    width: 100%;
    margin: 0px;
    padding: 0px;

    li {
      border-bottom: white 2px solid;
      padding: 5px;
      margin: 5px;
      text-align: center;
      font-size: 15px;
    }

    a{
      text-decoration: none;
    }
  }
}
