@import "_theme";

.app-nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  padding-top: 10%;
  border-right: thick solid $app-lightgreen;
  background-color: $app-dark;
  z-index: 100;

  ul {
    width: 100%;
    margin: 0px;
    padding: 0px;

    li {
      border: white 2px solid;
      border-radius: 5px;
      padding: 5px;
      margin: 4% 5% 4% 5%;
      font-family: dual-300;
      text-align: center;
      font-size: 1.1em;

      list-style: none;

      &:hover {
        background-color: white;
      }
    }

    a{
      text-decoration: none;
      color: $app-lightgreen;
    }
  }

  .logout {
    background-color: none;
    margin: 100% 15% 10% 15%;
    width: 10vw;
    font-family: dual-300;
    border: 2px solid white;
    color: $app-dark;
    background-color: $app-default;

    &:hover{
      background-color: white;
    }
  }

  .shooter-logo{
    background-color: $app-default;
    border: 2px solid $app-lightgreen;
    border-radius: 5px;
    max-width: 11vw;
    margin: 10vh auto 50px auto;

    .logo {
      width: 10.5vw;
    }
  }

  ul {
    @media (max-width: 950px) {
      .desktop {
        display: none;
      }

      li {
        width: 4em;
        height: 4em;
        margin: 4% auto 4% auto;
      }
    }

    @media (min-width: 950px) {
      .mobile {
        display: none;
      }
    }
  }

  img{
    width: 3em;
    margin: 4% auto 4% auto;
  }
}
