<main class="app-load-book-dash">
  <div class="loadName">
    <h4><strong>Load Name: </strong>{{loadDisplayCtrl.loadData.loadName}}</h4>
  </div>
  <div class="locationInfo">
    <h4><span class="loadDisplayField">Date</span> <br>     {{loadDisplayCtrl.loadData.dateCreated | date}}</h4>
    <h4><span class="loadDisplayField">Time</span> <br>     {{loadDisplayCtrl.loadData.time | date:'shortTime'}}</h4>
    <h4><span class="loadDisplayField">Temp</span> <br>    {{loadDisplayCtrl.loadData.temperature}}°</h4>
    <h4><span class="loadDisplayField">Humidity</span> <br> {{loadDisplayCtrl.loadData.humidity}}%</h4>
    <h4><span class="loadDisplayField">Elevation</span> <br>{{loadDisplayCtrl.loadData.elevation}}ft.</h4>
  </div>
  <div class="generalLoadInfo">
    <h4><span class="loadDisplayField">Caliber</span> <br> {{loadDisplayCtrl.loadData.bulletCaliber}}</h4>
    <h4><span class="loadDisplayField">Bullet</span> <br>  {{loadDisplayCtrl.loadData.bulletName}} | {{loadDisplayCtrl.loadData.bulletWeight}}</h4>
    <h4><span class="loadDisplayField">Brass</span> <br>   {{loadDisplayCtrl.loadData.brassManufacturer}}</h4>
    <h4><span class="loadDisplayField">Primer</span><br>   {{loadDisplayCtrl.loadData.primeManufacturer}} | {{loadDisplayCtrl.loadData.primeModel}}</h4>
  </div>
</main>
